<div class="articles-index-wrapper">
  <div class="container">
    <div class="col-md-3 user-prolife-wrapper">
      <div class="form-group">
        <%= image_tag current_user.img.url, class: 'user-img'%>
        <%= current_user.name %>
      </div>
      <form class="form-group">
        <%= link_to 'edit', edit_user_path(current_user.id) %>
        <%= link_to 'destroy', user_path(current_user.id), method: :delete %>
      </form>
      <%= render 'shared/stats' %>

      <!--  記事検索機能  -->
      <div class="search-form">
        <%= form_tag(articles_path, method: :get) do %>
          <%= text_field_tag :search %>
          <%= submit_tag "article search", :name => nil, class: "search-btn" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-offset-1 col-md-8 articles-index-article-erea">
      <h1 >Articles</h1>
      <% @articles.each do |article| %>
        <div class="article">
          <%= image_tag article.user.img.url, class: 'user-img' %>
          <%= link_to article.user.name, user_path(article.user.id) %>
          <%= link_to article.title, article_path(article.id) %>
          <p class="text-gray article-updated"><%= l article.updated_at %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
