<div class="articles-index-wrapper">
  <div class="container">

      <!--  記事検索機能  -->
      <div class="search-form">
        <%= form_tag(articles_path, method: :get) do %>
          <%= text_field_tag :search %>
          <%= submit_tag "article search", :name => nil, class: "search-btn" %>
        <% end %>
      </div>


    <h1 class="col-md-9 articles">
      Articles
    </h1>

    <!--  記事一覧  -->
    <div class="articles-index-article-erea">
      <% @articles.each do |article| %>
        <div class="col-md-9 article">
          <!--  記事上部  -->
          <div class="article-top">
            <%= image_tag article.imgs[0], width:100, class: "article-img" %>
            <h1 class="article-title">
              <%= link_to article.title, article_path(article.id), class: "text-white" %>
            </h1>
          </div>
          <!--  記事下部  -->
          <div class="article-bottom">
            <p class="article-content">
              <%= link_to article.content, article_path(article.id) %>
            </p>
            <%= image_tag article.user.img, class: "user-img" %>
            <%= link_to article.user.name, user_path(article.user.id), class: "user-name" %>
            <p class="text-gray article-updated"><%= l article.updated_at %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
