<div class="users-index-wrapper">
  <div class="container">
    <div class="col-md-3 user-prolife-wrapper">
      <div class="form-group">
        <%= image_tag current_user.img, class: 'user-img'%>
        <%= current_user.name %>
      </div>
      <form class="form-group">
        <%= link_to 'edit', edit_user_path(current_user.id) %>
        <%= link_to 'destroy', user_path(current_user.id), method: :delete %>
      </form>
      <%= render 'shared/stats' %>
      <div class="search-form">
        <%= form_tag(users_path, method: :get) do %>
          <%= text_field_tag :search %>
          <%= submit_tag "user search", :name => nil, class: "search-btn" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-offset-1 col-md-8 users-index-users-erea">
      <h1>Users</h1>
      <% @users.each do |user| %>
        <div class="user">
          <%= image_tag user.img, class: 'user-img' if user.img.attached? %>
          <%= link_to user.name, user_path(user.id), class: 'user-name' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
