<div class="users-show_follow-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-3 user-prolife-wrapper">
        <div class="form-group">
          <%= @user.name %>
          <%= image_tag @user.img.url, class: 'user-img' if @user.img? %>
        </div>
        <div class="form-group">
          <%= link_to 'edit', edit_user_path(@user.id) %>
        </div>
        <div class="stats">
          <%= render 'shared/stats' %>
        </div>
      </div>
      <div class="col-md-9">
        <div class="users-follow-wrapper">
          <h1 class="text-gray"><%= @title %></h1>
          <% if @users.any? %>
            <% @users.each do |user| %>
              <div class="form-group user">
                <%= link_to user.name, user_path(user.id) %>
                <%= image_tag user.img.url, class: 'user-img' if user.img? %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
