<div class="users-show-wrapper">
  <div class="container">

    <!--  プロフィール  -->
    <div class="col-md-3 user-prolife-wrapper">
      <div class="form-group">
        <%= image_tag @user.img, class: 'user-img' if @user.img.attached? %>
        <%= @user.name %>
      </div>
      <% if @user == current_user %>
        <form class="form-group">
          <%= link_to 'edit', edit_user_path(@user.id) %>
          <%= link_to 'destroy', user_path(@user.id), method: :delete %>
        </form>
      <% end %>
      <%= render 'shared/stats' %>
    </div>

    <div class="col-md-offset-1 col-md-8 main-erea">
      <h1><%= @user.myspot_name %></h1>
      <div class="col-md-8">
        <% @articles.each do |article| %>
        <div class="article">
          <%= link_to article.title, article_path(article.id) %>
          <p class="text-gray article-updated"><%= l article.updated_at %></p>
        </div>
        <% end %>
      </div>
      <div class="col-md-offset-1 col-md-3">
        <div class="users-show-tag-erea">
          <p>Article Tags</p>
          <% @tags.each do |tag, count| %>
            <p><%= link_to "#{tag.name}(#{count})", user_tag_path(id: tag.id, user_id: @user.id) %></p>
          <% end %>
        </div>
        <div class="users-show-joined-community-erea">
          <p>Joined Communiies</p>
          <% @user.join_communities.each do |community| %>
            <%= link_to community.name, community_path(community.id) %>
          <% end %>
        </div>
        <div class="users-show-maked-community-erea">
          <p>Maked Communities</p>
          <% @user.communities.each do |community| %>
            <%= link_to community.name, community_path(community.id) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
